@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-strip {
  overflow: hidden;
  background: var(--background);
  padding: 1rem;
  color: var(--foreground);
  font-weight: 600;
  font-size: 1.2rem;
  white-space: nowrap;
}

.skill-scroll {
  display: inline-block;
  animation: scrollLoop 20s linear infinite;
}

.skill-item {
  display: inline-block;
  margin: 0 2rem;
}
